<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>
<% @user.tasks.each do |task| %>
  <%= task.name %>
  <%= task.content %>
  <%= task.created_at %>
  <%= task.deadline %>
  <%= task.status %>
  <%= task.priority %>
<% end %>

<p>
<% if @user == current_user %>
  <%= link_to "プロフィールの編集", edit_user_path%>
<% end %>
<%= link_to 'タスク一覧', tasks_path %>
</p><%= link_to '戻る', tasks_path, class: 'btn btn-outline-success mt-3' %>
</p>