<h1 class="my-3">ユーザー一覧</h1>

<p><%= notice %></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">名前</th>
      <th scope="col">Eメール</th>
      <th scope="col">タスク登録件数</th>
      <th scope="col">管理者権限</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr class="task_row">
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.tasks.count %></td>
        <td><%= user.admin %></td>
        <td><%= link_to '詳細を確認する', admin_user_path(user.id),class: "btn btn-outline-secondary" %></td>
        <td><%= link_to 'ユーザーを編集する', edit_admin_user_path(user.id), class: "btn btn-outline-secondary" %></td>
        <td><%= link_to 'ユーザーを削除する', admin_user_path(user.id),class: "btn btn-outline-secondary", method: :delete, data: { confirm: '本当に削除しますか' } %></td>
      </tr>
    <% end %>
  </tbody>
  <td><button type="button", class: "btn btn-secondary"><%= link_to 'ユーザーの新規作成', new_admin_user_path %></button><br>

</table>



